# Environment variables & sensitive credentials
.env

# Telethon session files
*.session
*.session-journal

# Python bytecode & caches
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
*.log

# Editor & OS files
.DS_Store
.idea/
.vscode/
